# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment
.env
venv/
env/

# Django specific
db.sqlite3
/media/
staticfiles/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# PyCharm
.idea/

# Migrations (optional - only ignore if you auto-generate them)
**/migrations/*.py
!**/migrations/__init__.py
