{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'hotel_app/styles.css' %}">
  </head>
  <body>
    <h1>Welcome to Royal Glory Hotel</h1>
    
    <a href="{% url 'user_logo' %}"><button>Logout</button></a><br><br>

    
    <a href="{% url 'list_room' %}"><button>View Rooms</button></a><br><br>
    <a href="{% url 'history_booking' %}"><button>Booking History</button></a>
  </body>
</html>
