<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Room Available</h2>
    <ul>
        {% for room in rooms %}
        <li>
            {{ room.room_number }}
            {{ room.category.name }}
            {% if room.is_available %}
                <a href="{% url 'room_book' room.id %}"> Book </a>
                {% else %}
                    <span> Booked</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
  </body>
</html>
